<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RemoteGPIO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07484A972CA9AF7C00AAD510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07484AA82CA9AF7D00AAD510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07484AB22CA9AF7D00AAD510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
